<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login page</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="css/style.css" th:href="@{/css/main.css}" />
</head>
<body>
<div>
    <h1>Resource need login to access</h1>
    <p>Paste your key login and pass this page</p>
    <br />
    <form th:action="@{/login-handler}" method="get">
        <label for="username">Username</label>:
        <input type="text" id="username" name="username" autofocus="autofocus" /> <br /><br />
        <label for="key_login">Key Login</label>:
        <input type="text" id="key_login" name="key_login" autofocus="autofocus" /> <br />
        <br />
        <input type="submit" value="Log in" />
    </form>
    <p>${errMsg}</p>
</div>
</body>
</html>